// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

#index-banner {
  background-color: #1a237e;

  h1.header {
    color: white;
  }
}

ul.contacts-list {
  li {
    div.contact-row {
      div.phones, div.address-info {
        span {
          display: block;
        }
      }
    }
  }
}
