// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.row {
  .alpha {
    float: left;
  }

  .omega {
    float: right;

    &.btn {
      margin-right: 0.7rem;
    }
  }
}

header {
  background-color: #26a69a;
  margin: 0;
  padding: 10px 0;

  .row {
    margin-bottom: 0;
  }

  h1 {
    color: white;
    float: left;
    width: 100%;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;


    span {
      opacity: 0.8;
      float: right;
      font-size: 0.5em;
      text-shadow: 1px 1px black;
    }
  }
}

.filters {
  margin-top: 50px;
  position: relative;

  form {
    input[name='term'] {
      padding-left: 35px;
    }

    .material-icons {
      position: absolute;
      top: 10px;
      color: #9e9e9e;

      &.active {
        color: #26a69a;
      }
    }
  }
}

/*************************** Contact List *****************************/

ul.contacts-list {
  p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;

    strong {
      font-weight: bold;
      display: block;
    }

    small {
      color: #666;
    }
  }

  li {
    div.contact-row {
      .contact-name {
        height: 90px;

        p {
          font-size: 1.2em;
          line-height: 1.2em;
        }
      }

      .contact-avatar{
        position: relative;
        padding: 0;
        width: 90px;
        height: 90px;

        .circle {
          background: white;
          border-radius: 50%;
          float: left;
          height: 90px;
          margin-right: 20px;
          width: 90px;
          border: 1px solid rgba(white, 0.3);
          overflow: hidden;

          img {
            width: 90px;
          }

        }

        .flag16 {
          &.flag-gb {
            background-position:-144px -64px;
          }
          position: absolute;
          right: 0px;
          bottom: 15px;
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url(http://rounders.github.io/ember-world-flags/ember-world-flags/images/flags16-3af314e44a47b60ee26701744a39e9c4.png);
        }
      }

      div.phones, div.address-info {
        height: 90px;
        padding: 0;

        span {
          display: block;
          color: #CCC;
          font-size: 0.9em;
          position: relative;

          i {
            position: absolute;
            top: 3px;
            left: -20px;
          }
        }
      }

      .first-col, .last-col {
        margin-bottom: 20px;
      }
    }
    .contacts-children {
      .first-col {
        padding-left: 50px;
      }
    }
  }
}



/*************************** End Contact List *****************************/

/*************************** Drag and Drop *****************************/

.accepts-drag {
  background-color: green !important;
  border-color: #d7d7d7;
  border-style: dashed;

  p {
    visibility: visible;
    color: #999 !important;
  }
}

.is-dragging-object .contact-row {
  background-color: #565656;
}

.draggable-object-target {
  text-align: center;
  clear: both;
  padding-top: 20px;

  p {
   color: white;
  }
}

/*************************** End Drag and Drop *****************************/
